I'm grabbing the data of several cryptocurrencies off of yfinance.

In [5]:
import numpy as np
import pandas as pd
import yfinance as yf

Will download `BTC, ETH, ADA, BNB, LINK, DOGE`

In [6]:
btc = yf.download("BTC-USD")
eth = yf.download("ETH-USD")
ada = yf.download("ADA-USD")
bnb = yf.download("BNB-USD")
link = yf.download("LINK-USD")
doge = yf.download("doge-USD")
sp500 = yf.download("^GSPC")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [3]:
btc

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100
...,...,...,...,...,...,...
2022-06-23,19986.607422,21135.761719,19950.117188,21085.876953,21085.876953,26188097173
2022-06-24,21084.648438,21472.917969,20777.511719,21231.656250,21231.656250,24957784918
2022-06-25,21233.609375,21520.914062,20964.585938,21502.337891,21502.337891,18372538715
2022-06-26,21496.494141,21783.724609,21016.269531,21027.294922,21027.294922,18027170497
2022-06-27,21024.480469,21466.804688,20686.123047,20729.789062,20729.789062,20158945280

In [4]:
btc.to_csv('data/btc.csv')
eth.to_csv('data/eth.csv')
ada.to_csv('data/ada.csv')
bnb.to_csv('data/bnb.csv')
link.to_csv('data/link.csv')
doge.to_csv('data/doge.csv')
sp500.to_csv('data/sp500.csv')

I also grabbed the historical data on `investing.com`, for it has more history for my analysis.

In [7]:
sp500.to_csv('data/sp500.csv')